peixotojeff/n8n-rep/2025/05/tkA4S8Ux890ttU9r.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-28T00:40:36.470Z",
  "id": "tkA4S8Ux890ttU9r",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PAYT OFERTA UPSELL",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]"
      },
      "id": "25f38400-57cd-4cd0-b116-9b39843324bd",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4745f0ad-756a-41fd-8aef-87bc8086004d",
              "leftValue": "={{ $json.clienteld }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c25d445d-ba93-4d02-93c8-50c9361369e7",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1120,
        520
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cd6f2f6-4702-4133-ae35-31b3e6d83c58",
              "name": "clienteId",
              "value": "={{ $json.clienteld }}",
              "type": "string"
            },
            {
              "id": "135ab026-f595-4042-8f2d-4837607c4b5a",
              "name": "produtold",
              "value": "=4O9J39",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "36639086-b2ea-4930-8f3c-d76cbb8cc591",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        520
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lY8K3tymeOzJql3ItF-AArK0WIO7iurW2Z4PcnksuxE",
          "mode": "list",
          "cachedResultName": "VENDAS PAYT flynowagencialtda@gmail.com",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lY8K3tymeOzJql3ItF-AArK0WIO7iurW2Z4PcnksuxE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "PAGO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lY8K3tymeOzJql3ItF-AArK0WIO7iurW2Z4PcnksuxE/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "clienteId",
              "lookupValue": "={{ $json.clienteId }}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "15279974-1546-4b63-861c-3002378ad9fd",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1480,
        520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X45h2pbnOX9dAgcA",
          "name": "Google Sheets peixotomidias@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "oferta-upsell",
        "options": {}
      },
      "id": "848550a3-2fbd-4d81-8915-3b9e42819db9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        760,
        520
      ],
      "webhookId": "312ad55c-13d1-456e-8581-3b7465742469"
    },
    {
      "parameters": {
        "jsCode": "url = checkout.payt.com.br/non-organic-upsell/{{ $json[\"clienteId\"] }}/RDVBXR/R325AG?split=12#"
      },
      "id": "3d194cff-7535-4fdb-b586-6f8b5689798b",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1700,
        520
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-28T23:08:32.000Z",
  "versionId": "3875c9d3-d759-4c5d-abbc-6d778db4188b"
}