peixotojeff/n8n-rep/2024/12/56tERszEb134pqs5.json
{
  "active": true,
  "connections": {
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "ActiveCampaign20",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign19": {
      "main": [
        [
          {
            "node": "ActiveCampaign17",
            "type": "main",
            "index": 0
          },
          {
            "node": "Curso: New Profession",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign20": {
      "main": [
        [
          {
            "node": "ActiveCampaign18",
            "type": "main",
            "index": 0
          },
          {
            "node": "ActiveCampaign2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign22": {
      "main": [
        [
          {
            "node": "ActiveCampaign21",
            "type": "main",
            "index": 0
          },
          {
            "node": "ActiveCampaign3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "ActiveCampaign19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign17": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-03T22:36:32.598Z",
  "id": "56tERszEb134pqs5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OCTUSPAY(VIP Tool) 2 -> ACTIVE (Guilhermecvt)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]"
      },
      "id": "ffb5e901-6640-4196-94de-dd8144e1b684",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2720,
        2100
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "PURCHASE_APPROVED"
            },
            {
              "operation": "contains",
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART",
              "output": 2
            },
            {
              "operation": "contains",
              "value2": "CARD_DECLINED",
              "output": 1
            }
          ]
        }
      },
      "id": "4cd2f255-9723-45fa-8767-5a2caa416d98",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2140,
        2000
      ]
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "3",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "0126afa2-5153-445a-9c82-6a4b43843a7e",
      "name": "ActiveCampaign17",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1500,
        2460
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "bff62c06-c3ff-4b1f-a619-56c1994f2580",
      "name": "ActiveCampaign19",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1780,
        2420
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 15,
        "contactId": "={{ $item(\"0\").$node[\"ActiveCampaign19\"].json[\"id\"] }}"
      },
      "id": "276bb816-f691-43df-b4dc-c11e8e23618e",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1340,
        2460
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "operation": "remove",
        "listId": 1,
        "contactId": "={{ $item(\"0\").$node[\"ActiveCampaign19\"].json[\"id\"] }}"
      },
      "id": "19ccaf97-89ff-42a2-ab54-ea7b703ffd7f",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1180,
        2460
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "2",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "11ece2cd-a6f4-40e2-8761-adb444f71759",
      "name": "ActiveCampaign18",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1380,
        1740
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "bbace4c2-3d40-4aaa-8d50-167336148109",
      "name": "ActiveCampaign20",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1740,
        1860
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 1,
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "b1d98cfc-449d-4034-9a74-69bc4691bf12",
      "name": "ActiveCampaign2",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1320,
        1900
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "1",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "263b4a3e-2127-420f-97b9-c9f703485612",
      "name": "ActiveCampaign21",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1480,
        2080
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "8d69fb0f-2165-4c38-912c-39f952a97d0a",
      "name": "ActiveCampaign22",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1820,
        2120
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 1,
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "290aced8-a7c5-4a44-82a2-8dc163a68ed4",
      "name": "ActiveCampaign3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1480,
        2280
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c27a5d0b-69d4-4d27-b827-6cc86f851c08",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"]['purchase'][\"offer\"][\"code\"] }}",
              "rightValue": "OF-b5892909b0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "d9fd7f77-bf86-4fc7-8efd-a5bc8ff96038",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"]['purchase'][\"offer\"][\"code\"] }}",
              "rightValue": "OF-8f8beffdb1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "27f767d3-0dd6-433f-b951-d92d6e11e4e3",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -2020,
        2400
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b12d1cf0-64f5-45d1-9170-4aade0812c01",
        "options": {}
      },
      "id": "920ad731-13c9-498a-aa6b-5f64eb34aecc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2900,
        2100
      ],
      "webhookId": "b12d1cf0-64f5-45d1-9170-4aade0812c01"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11faee38-4b6a-4c0e-907e-97a15849f665",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-b5892909b0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1931d244-742b-4024-a11b-9c6c64cbe77f",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-8f8beffdb1",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9f131ad5-35c9-49e7-bbee-9e4bfd8af818",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2480,
        2080
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://memberkit.com.br/api/v1/users",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "xLE7rWV7EPd7gKPSh7B7TJ4T"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $node[\"Code\"].json[\"data\"][\"buyer\"][\"email\"] }}\",\n  \"full_name\": \"{{ $node[\"Code\"].json[\"data\"][\"buyer\"][\"name\"] }}\",\n  \"status\": \"active\",\n  \"classroom_ids\": [\n    179180\n  ]\n}",
        "options": {}
      },
      "id": "99f60eba-8de3-46b4-b952-4bdd365d1ec8",
      "name": "Curso: New Profession",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1340,
        2620
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-11T16:53:54.843Z",
      "updatedAt": "2024-03-11T16:53:54.843Z",
      "id": "1",
      "name": "Active Campaign"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-04T17:42:10.000Z",
  "versionId": "201f754c-573f-436e-87f0-9c3731afca61"
}