peixotojeff/n8n-rep/2024/10/C6vUbYwL4ngetl9v.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ActiveCampaign22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ActiveCampaign26",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign22": {
      "main": [
        [
          {
            "node": "ActiveCampaign21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign24": {
      "main": [
        [
          {
            "node": "ActiveCampaign23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign26": {
      "main": [
        [
          {
            "node": "ActiveCampaign25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign19": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "ActiveCampaign19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-15T04:50:55.232Z",
  "id": "C6vUbYwL4ngetl9v",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OCTUSPAY(Accelerator) -> ACTIVE (Guilhermecvt)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]"
      },
      "id": "ec37eca1-f107-4186-a195-36ba8808b330",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -3040,
        2240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1e46d27d-da2f-472c-b9b4-8300581209af",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"purchase\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-50baa66746",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "fb431d2a-79ad-4da5-bf15-d83d697b85be",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"purchase\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-96e70ee846",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "19a25e07-fac0-47db-b394-5d3e2d1cb426",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"purchase\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-dfeec3e47f",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2f28b481-5b12-48a9-9719-82aef6cf232c",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2820,
        2240
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "PURCHASE_APPROVED"
            },
            {
              "operation": "contains",
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART",
              "output": 2
            },
            {
              "operation": "contains",
              "value2": "CARD_DECLINED",
              "output": 1
            }
          ]
        }
      },
      "id": "7372ea72-215e-4e4f-8525-e0b719bf5807",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2480,
        2440
      ]
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "26",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "0577dcfb-d376-4a84-995d-d4629366f38a",
      "name": "ActiveCampaign21",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2000,
        2260
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "537f4b65-c7f8-4e1e-bb84-dbf2508cfd05",
      "name": "ActiveCampaign22",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2200,
        2260
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "33",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "49dc2568-41f9-47e9-8a61-41128b955ce8",
      "name": "ActiveCampaign23",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1960,
        2420
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "34fc504b-3205-4e77-a184-4a6e00ead91a",
      "name": "ActiveCampaign24",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2160,
        2420
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "32",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "eb1d8fa5-9efd-4ce4-bd38-e41098bba1c4",
      "name": "ActiveCampaign25",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1940,
        2560
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "af4b3069-436b-49cf-b3fc-e3761e12b30d",
      "name": "ActiveCampaign26",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2160,
        2560
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Accelerator",
        "options": {}
      },
      "id": "16095732-d03a-4fcc-8c1e-0158f75f4a85",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3260,
        2240
      ],
      "webhookId": "44f0976c-c2a6-4981-804c-4ce6df8a1971"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "34",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "d482e777-3121-47e1-b6ba-fb062d1baa93",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -1940,
        1940
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "c48dc3c6-c5a8-468c-b7fb-d1cbe0b5010b",
      "name": "ActiveCampaign19",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2140,
        1940
      ],
      "retryOnFail": true,
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "PURCHASE_APPROVED",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART",
              "output": 3
            },
            {
              "operation": "contains",
              "value2": "CARD_DECLINED",
              "output": 2
            }
          ]
        }
      },
      "id": "64ac1177-696d-4541-ba9f-f9cbd3fc5ef9",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2460,
        1980
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "5g0jCsFhX4YZWEUU"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-11T16:53:54.843Z",
      "updatedAt": "2024-03-11T16:53:54.843Z",
      "id": "1",
      "name": "Active Campaign"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-12T09:58:25.000Z",
  "versionId": "98b33c15-dc9b-4ae1-8855-d6b1e3fd0290"
}