peixotojeff/n8n-rep/2024/10/zIB8GwIeR4mNpZdX.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign19": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "ActiveCampaign19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-15T04:56:14.309Z",
  "id": "zIB8GwIeR4mNpZdX",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OCTUSPAY( VIP Group) -> ACTIVE (Guilhermecvt)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]"
      },
      "id": "e78d4e87-2c19-4f56-8830-ce3f3db270c2",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -2940,
        1980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1e46d27d-da2f-472c-b9b4-8300581209af",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"purchase\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-6155caed32",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "fb431d2a-79ad-4da5-bf15-d83d697b85be",
              "leftValue": "={{ $node[\"Code\"].json[\"data\"][\"purchase\"][\"offer\"][\"code\"] }}",
              "rightValue": "OF-72c4afa432",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a49055e9-6175-4314-955f-2afd8ee4eaff",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2720,
        1980
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70278bfd-bbfc-4589-a0bb-92b90177f54b",
        "options": {}
      },
      "id": "32dff972-e211-4f56-820b-19d087307498",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3160,
        1980
      ],
      "webhookId": "70278bfd-bbfc-4589-a0bb-92b90177f54b"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "35",
        "contactId": "={{ $json[\"id\"] }}"
      },
      "id": "965e08e1-c7e2-4e6c-bbb3-34562efbf728",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2080,
        1980
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.data.buyer.email }}",
        "updateIfExists": true,
        "additionalFields": {
          "firstName": "={{ $json.data.buyer.name }}",
          "phone": "={{ $json.data.buyer.checkout_phone }}"
        }
      },
      "id": "1c1990b3-9822-4d5b-8be9-cf48e8e2f37b",
      "name": "ActiveCampaign19",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -2280,
        1980
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "1",
          "name": "ActiveCampaign Guilhermercvt"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.event }}",
        "rules": {
          "rules": [
            {
              "operation": "contains",
              "value2": "PURCHASE_APPROVED",
              "output": 1
            },
            {
              "operation": "contains",
              "value2": "PURCHASE_OUT_OF_SHOPPING_CART",
              "output": 3
            },
            {
              "operation": "contains",
              "value2": "CARD_DECLINED",
              "output": 2
            }
          ]
        }
      },
      "id": "e00091f5-6cd6-44af-bef9-449e4a67d7d0",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -2500,
        1980
      ]
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "executionOrder": "v0",
    "errorWorkflow": "5g0jCsFhX4YZWEUU"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-03-11T16:53:54.843Z",
      "updatedAt": "2024-03-11T16:53:54.843Z",
      "id": "1",
      "name": "Active Campaign"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-12-04T21:03:34.000Z",
  "versionId": "93ea0782-ce50-46cc-9b53-9a2cef6d3a42"
}