peixotojeff/n8n-rep/2024/11/guji68a2WMFO1TGt.json
{
  "active": false,
  "connections": {
    "On Error": {
      "main": [
        [
          {
            "node": "Set message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set message": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-27T18:32:26.685Z",
  "id": "guji68a2WMFO1TGt",
  "meta": {
    "templateId": "2159",
    "templateCredsSetupCompleted": true
  },
  "name": "🚨 Report n8n workflow errors to Telegram",
  "nodes": [
    {
      "parameters": {},
      "id": "aa84d631-c14f-45c2-a659-454605e83c30",
      "name": "On Error",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        340,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "message",
              "value": "=⚠️ Workflow `{{$json[\"workflow\"][\"name\"]}}` failed to run! [execution]({{ $json.execution.url }})"
            }
          ]
        },
        "options": {}
      },
      "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
      "name": "Set message",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "@peixotomidiasnews",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        940,
        440
      ],
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "NAaGoYvjkYEihQVI",
          "name": "Telegram Agent N8N"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-06-13T02:22:40.000Z",
  "versionId": "e367ea46-806d-4a10-ad66-1a509a57d37e"
}