peixotojeff/n8n-rep/2024/11/RJB97qLFxlAoIOF6.json
{
  "active": true,
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Criar Contato3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuvem": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato3": {
      "main": [
        [
          {
            "node": "Colocar na Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista": {
      "main": [
        [
          {
            "node": "Colocar na Lista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Nuvem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista1": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-24T00:54:08.129Z",
  "id": "RJB97qLFxlAoIOF6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PLAKA - NUVEM - KLAVIYO (Carrinho Abandonado) teste",
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4b36b54c-4e0c-47f0-b745-b262ff7b1416",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -80,
        540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "7161020e-001d-4eba-941d-630e366a7a73",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.contact_email }}"
            },
            {
              "name": "List ID",
              "value": "TNPebD"
            },
            {
              "name": "phone_number",
              "value": "={{ $json.shipping_phone }}"
            },
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "First Name",
              "value": "={{ $json.contact_name }}"
            },
            {
              "name": "TOKEN",
              "value": "pk_5487b650021d53b0fa9028fd56884ead2d"
            },
            {
              "name": "abandoned_checkout_url",
              "value": "=https://plakaacessorios.com/checkout/v3/next/{{ $json.id }}/{{ $json[\"token\"] }}"
            },
            {
              "name": "Data",
              "value": "={{ $json.created_at }}"
            },
            {
              "name": "Total",
              "value": "={{ $json.total}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1a3342a-ddb2-43b4-a73c-ebf0a1c06de9",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.abandoned_checkout_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "91a0a993-0c3c-4162-b383-236d9767b5b1",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        540
      ]
    },
    {
      "parameters": {
        "url": "https://api.nuvemshop.com.br/v1/1447473/checkouts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "10"
            },
            {
              "name": "fields",
              "value": "contact_name,contact_email,shipping_phone,id,token,abandoned_checkout_url,created_at,total"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer 885a32d5ade6aec1035af161e8e6bcd90ebaaaf1"
            },
            {
              "name": "User-Agent",
              "value": "Your App Name (14552)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "0d36ca89-8ebd-49be-8882-98980427011a",
      "name": "Nuvem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -320,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $json.TOKEN }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"data\": {\n\t  \"type\": \"profile\",\n\t  \"attributes\": {\n\t\t\"properties\": {\n\t\t  \"URL Carrinho Abandonado\": \"{{$('Set3').item.json[\"abandoned_checkout_url\"]}}\"\n\t\t},\n\t\t\"email\": \"{{ $('Set3').item.json['email']}}\",\n\t\t\"phone_number\": \"+{{ $('Set3').item.json[\"phone_number\"] }}\",\n\t\t\"first_name\": \"{{$('Set3').item.json[\"First Name\"] }}\"\n\t  }\n\t}\n  }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "16897ff5-2335-4047-bcbc-597e1839a32c",
      "name": "Criar Contato3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set3').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"type\": \"profile-subscription-bulk-create-job\",\n        \"attributes\": {\n            \"profiles\": {\n                \"data\": [\n                    {\n                        \"type\": \"profile\",\n                        \"id\": \"{{ $json.body.data.id }}\",\n                        \"attributes\": {\n                            \"email\": \"{{ $json.body.data.attributes.email }}\",\n                            \"phone_number\": \"{{ $json.body.data.attributes.phone_number }}\",\n                            \"subscriptions\": {\n                                \"email\": {\n                                    \"marketing\": {\n                                        \"consent\": \"SUBSCRIBED\"\n                                    }\n                                }\n                            }\n                        }\n                    }\n                ]\n            }\n        },\n        \"relationships\": {\n            \"list\": {\n                \"data\": {\n                    \"type\": \"list\",\n                    \"id\": \"{{ $('Set3').item.json['List ID'] }}\"\n                }\n            }\n        }\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "0823fb39-bf5e-40e9-85e0-b6ac3a6317f0",
      "name": "Colocar na Lista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        840,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timestamp }}",
        "format": "yyyy/MM/dd",
        "options": {}
      },
      "id": "a8b5f756-d393-4e57-a1db-6e91dfbc22fc",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -540,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set3').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "content-type",
              "value": "=application/json "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"abandoned_checkout_url\": \"{{ $('Set3').item.json['abandoned_checkout_url'] }}\"\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Carrinho Abandonado\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $('Criar Contato3').item.json.body.data.attributes.email }}\"\n          }\n        }\n      },\n      \"value\": \"{{ $('Set3').item.json.Total }}\",\n      \"value_currency\": \"BRL\",\n      \"time\": \"{{ $('Set3').item.json.Data }}\"\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "32163a3f-9be2-47ec-8d9f-dc3f5a3ea9c3",
      "name": "Colocar na Lista1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "executionOrder": "v0",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-11-15T21:24:54.561Z",
      "updatedAt": "2024-11-15T21:24:54.561Z",
      "id": "MB3EUpHs6Gf1Hxl8",
      "name": "Klaviyo"
    },
    {
      "createdAt": "2024-11-15T21:24:54.572Z",
      "updatedAt": "2024-11-15T21:24:54.572Z",
      "id": "bd9wkOJP5S5TNQ5C",
      "name": "Shopify"
    },
    {
      "createdAt": "2024-11-20T16:51:30.192Z",
      "updatedAt": "2024-11-20T16:51:30.192Z",
      "id": "m68TpycasDWTIYmp",
      "name": "plaka"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-14T17:30:05.000Z",
  "versionId": "61e64f28-8055-4e74-bb97-cf8e88dd8630"
}