peixotojeff/n8n-rep/2024/11/RtXbLdcq85YTZKCP.json
{
  "active": true,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuvem": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato3": {
      "main": [
        [
          {
            "node": "Colocar na Lista6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Criar Contato3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista6": {
      "main": [
        [
          {
            "node": "Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Nuvem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-19T01:41:26.333Z",
  "id": "RtXbLdcq85YTZKCP",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "(plakaacessorios )NUVEM -> KLAVIYO (RECUSADOS)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]"
      },
      "id": "398dfd3c-397c-4dc1-8896-75d75316dbbe",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -40,
        1300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.nuvemshop.com.br/v1/1447473/orders/{{ $node[\"Code\"].json[\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer 885a32d5ade6aec1035af161e8e6bcd90ebaaaf1"
            },
            {
              "name": "User-Agent",
              "value": "Your App Name (14552)"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "68fab5da-ff24-4bd2-b940-02eddbe26ed9",
      "name": "Nuvem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        1300
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2cf0a14c-5405-47dd-8a96-8c1ae911dcb1",
              "leftValue": "={{ $node[\"Nuvem\"].json[\"payment_status\"] }}",
              "rightValue": "voided",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3827de55-1bfa-4bac-986e-e78c35c64366",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        600,
        1300
      ]
    },
    {
      "parameters": {
        "content": "## KLAVIYO - COMPRE RECUSADA",
        "height": 437.1851917228102,
        "width": 1475.2605569569741
      },
      "id": "8cdcc654-2d9a-4db1-bc8f-496befb378c2",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $json.TOKEN }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"data\": {\n\t  \"type\": \"profile\",\n\t  \"attributes\": {\n\t\t\"properties\": {\n\t\t  \"URL Carrinho Abandonado\": \"{{$('Set3').item.json[\"abandoned_checkout_url\"]}}\",\n\t\t  \"newKey-1\": \"New Value\",\n\t\t  \"newKey-2\": \"New Value\"\n\t\t},\n\t\t\"email\": \"{{ $('Set3').item.json['email']}}\",\n\t\t\"phone_number\": \"+{{ $('Set3').item.json[\"phone_number\"] }}\",\n\t\t\"first_name\": \"{{$('Set3').item.json[\"First Name\"] }}\"\n\t  }\n\t}\n  }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1c6b856d-f804-4dfa-a63b-510dcc2c2ee9",
      "name": "Criar Contato3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        1300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recusado",
        "options": {}
      },
      "id": "d5eb92b7-1911-4c39-9683-cac5068c2acb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -220,
        1300
      ],
      "webhookId": "7fc95386-11b1-4d04-8819-f6d4d9fe8e08"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$node[\"Nuvem\"].json[\"contact_email\"] }}"
            },
            {
              "name": "List ID",
              "value": "VdKA9h"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"Nuvem\"].json[\"contact_phone\"] }}"
            },
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "First Name",
              "value": "={{$node[\"Nuvem\"].json[\"contact_name\"] }}"
            },
            {
              "name": "TOKEN",
              "value": "pk_5487b650021d53b0fa9028fd56884ead2d"
            },
            {
              "name": "Total",
              "value": "={{ $json.subtotal }}"
            },
            {
              "name": "Data",
              "value": "={{ $json.customer.created_at }}"
            },
            {
              "name": "Numero do pedido",
              "value": "={{ $json.id }}"
            },
            {
              "name": "Produto",
              "value": "={{ $json.products[0].name_without_variants }}"
            },
            {
              "name": "Imagem",
              "value": "={{ $json.products[0].image.src }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f9a1676f-5cd9-463d-aa05-81e7b294fc5a",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        820,
        1300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://a.klaviyo.com/api/lists/{{ $node[\"Set3\"].json[\"List ID\"] }}/relationships/profiles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set3').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"type\": \"profile\",\n      \"id\": \"{{$json.body.data.id }}\"\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "962cd274-4b9f-46e8-8b8a-4a6df45c3108",
      "name": "Colocar na Lista6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1260,
        1300
      ],
      "alwaysOutputData": false,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set3').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "content-type",
              "value": "=application/json "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"PedidoID\": \"{{ $node[\"Set3\"].json[\"Numero do pedido\"] }}\",\n        \"Nome\": \"{{ $('Set3').item.json['First Name'] }}\",\n        \"Imagem\": \"{{ $('Set3').item.json['Imagem'] }}\",\n        \"Produto\": \"{{ $('Set3').item.json['Produto'] }}\"\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Cartão recusado\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $node[\"Set3\"].json[\"email\"] }}\"\n          }\n        }\n      },\n      \"value\": \"{{ $node[\"Set3\"].json[\"Total\"] }}\",\n      \"value_currency\": \"BRL\",\n      \"time\": \"{{ $node[\"Filter\"].json[\"created_at\"] }}\"\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "c80c6b37-8043-48ec-809a-182e811730b4",
      "name": "Evento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1440,
        1300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "5bb51011-eb06-4cfd-9bfd-f110ef2f3941",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        180,
        1300
      ],
      "webhookId": "2935f792-cccb-4b57-bdf3-6494d178e246"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T21:24:54.561Z",
      "updatedAt": "2024-11-15T21:24:54.561Z",
      "id": "MB3EUpHs6Gf1Hxl8",
      "name": "Klaviyo"
    },
    {
      "createdAt": "2024-11-19T01:41:24.959Z",
      "updatedAt": "2024-11-19T01:41:24.959Z",
      "id": "UEXMANqvg7Q1MTMX",
      "name": "Nuvem"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-16T01:26:07.000Z",
  "versionId": "858981cc-4a80-4c84-8ebf-b922b8833e0d"
}