peixotojeff/n8n-rep/2024/11/u9nbLh7kaW0cGhPN.json
{
  "active": true,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Nuvem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Criar Contato3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Criar Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuvem": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Criar Contato1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato3": {
      "main": [
        [
          {
            "node": "Colocar na Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato": {
      "main": [
        [
          {
            "node": "Colocar na Lista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato1": {
      "main": [
        [
          {
            "node": "Colocar na Lista2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista2": {
      "main": [
        [
          {
            "node": "Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista1": {
      "main": [
        [
          {
            "node": "Evento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista": {
      "main": [
        [
          {
            "node": "Evento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-15T21:43:56.992Z",
  "id": "u9nbLh7kaW0cGhPN",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "(plakaacessorios )NUVEM -> KLAVIYO (PIX-BOLETO E PAGOS)",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return typeof $node[\"Webhook\"].json[\"body\"] == 'string' ? JSON.parse($node[\"Webhook\"].json[\"body\"]) : $node[\"Webhook\"].json[\"body\"]"
      },
      "id": "7ade1cfd-a593-4f0b-8354-075e4006324e",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -920,
        480
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Nuvem\"].json[\"payment_status\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "pending"
            },
            {
              "value2": "paid",
              "output": 1
            }
          ]
        }
      },
      "id": "90258b01-7ab4-41d5-a796-8de0115e9706",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -420,
        480
      ]
    },
    {
      "parameters": {
        "content": "## KLAVIYO - PIX\n",
        "height": 320,
        "width": 655
      },
      "id": "7621c993-8191-4b45-b619-842af3c5a069",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        20
      ]
    },
    {
      "parameters": {
        "content": "## KLAVIYO - BOLETO",
        "height": 257,
        "width": 555
      },
      "id": "1f22d4cf-7618-467e-9629-9e6cedce0250",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json[\"payment_details\"][\"method\"] }}",
              "value2": "pix"
            }
          ]
        }
      },
      "id": "867e4341-b64a-4202-a0ae-946aa0f33c71",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -80,
        420
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$node[\"Nuvem\"].json[\"contact_email\"] }}"
            },
            {
              "name": "List ID",
              "value": "X7Cucw"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"Nuvem\"].json[\"contact_phone\"] }}"
            },
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "pix",
              "value": "={{ $json.transactions.data[0].metadata.data.pix_qr_code }}"
            },
            {
              "name": "First Name",
              "value": "={{$node[\"Nuvem\"].json[\"contact_name\"] }}"
            },
            {
              "name": "TOKEN",
              "value": "pk_5487b650021d53b0fa9028fd56884ead2d"
            },
            {
              "name": "Numero do pedido",
              "value": "={{ $json.number }}"
            },
            {
              "name": "Total pago",
              "value": "=R$ {{ $json.total.replace('.', ',') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7bc62ca2-1585-4814-80dc-a31c449c5f48",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        160
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$node[\"Nuvem\"].json[\"contact_email\"] }}"
            },
            {
              "name": "List ID",
              "value": "RzFz2D"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"Nuvem\"].json[\"contact_phone\"] }}"
            },
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "pix",
              "value": "={{ $json.transactions.data[0].billet_url }}"
            },
            {
              "name": "First Name",
              "value": "={{$node[\"Nuvem\"].json[\"contact_name\"] }}"
            },
            {
              "name": "TOKEN",
              "value": "pk_5487b650021d53b0fa9028fd56884ead2d"
            },
            {
              "name": "Numero do pedido",
              "value": "={{ $json.number }}"
            },
            {
              "name": "Total pago",
              "value": "=R$ {{ $json.total.replace('.', ',') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bbcb7acb-2afb-49fc-9140-ee8db175c666",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        580,
        680
      ]
    },
    {
      "parameters": {
        "url": "=https://api.nuvemshop.com.br/v1/1447473/orders/{{ $node[\"Code\"].json[\"id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer 885a32d5ade6aec1035af161e8e6bcd90ebaaaf1"
            },
            {
              "name": "User-Agent",
              "value": "Your App Name (14552)"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "235841cc-0a8b-430b-a347-478fb45796f1",
      "name": "Nuvem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        480
      ]
    },
    {
      "parameters": {
        "content": "## KLAVIYO - PEDIDO PAGO",
        "height": 257,
        "width": 615
      },
      "id": "1ca5f6bc-42dd-4980-8c7e-d7a116103b82",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        1220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{$node[\"Nuvem\"].json[\"contact_email\"] }}"
            },
            {
              "name": "List ID",
              "value": "TvNHfQ"
            },
            {
              "name": "phone_number",
              "value": "={{ $node[\"Nuvem\"].json[\"contact_phone\"] }}"
            },
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "First Name",
              "value": "={{$node[\"Nuvem\"].json[\"contact_name\"] }}"
            },
            {
              "name": "TOKEN",
              "value": "pk_5487b650021d53b0fa9028fd56884ead2d"
            },
            {
              "name": "Numero do pedido",
              "value": "={{ $json.number }}"
            },
            {
              "name": "Total pago",
              "value": "={{ $json.total}}"
            },
            {
              "name": "UTM Source",
              "value": "={{ $node[\"Nuvem\"].json[\"customer_visit\"][\"utm_parameters\"][\"utm_source\"] }}"
            },
            {
              "name": "UTM Medium",
              "value": "={{ $node[\"Nuvem\"].json[\"customer_visit\"][\"utm_parameters\"][\"utm_medium\"] }}"
            },
            {
              "name": "UTM Campaign",
              "value": "={{ $node[\"Nuvem\"].json[\"customer_visit\"][\"utm_parameters\"][\"utm_campaign\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f07766fe-107b-4c8c-82b4-1e358a334a45",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        600,
        1300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plakaacessorios",
        "options": {}
      },
      "id": "4e1cb3a5-4a62-45ef-9819-55a524c90bb1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1080,
        480
      ],
      "webhookId": "6824542b-8860-4e1a-b478-daaf393d3093"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $json.TOKEN }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"data\": {\n\t  \"type\": \"profile\",\n\t  \"attributes\": {\n\t\t\"properties\": {\n\"Numero do pedido\": \"{{$json[\"Numero do pedido\"] }}\",\n\"Total pago\": \"{{ $json[\"Total pago\"] }}\",\n\t\t\"Código Pix\": \"{{ $json.pix }}\"\n\t\t},\n\t\t\"email\": \"{{ $json.email }}\",\n\t\t\"phone_number\": \"+{{ $json.phone_number }}\",\n\t\t\"first_name\": \"{{ $json[\"First Name\"] }}\"\n\t  }\n\t}\n  }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "cdf14677-f52b-4d38-911a-ce9382def137",
      "name": "Criar Contato3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        800,
        160
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $json.TOKEN }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"data\": {\n\t  \"type\": \"profile\",\n\t  \"attributes\": {\n\t\t\"properties\": {\n\"Numero do pedido\": \"{{$json[\"Numero do pedido\"] }}\",\n\"Total pago\": \"{{ $json[\"Total pago\"] }}\",\n\t\t\"Código Boleto\": \"{{ $json.pix }}\"\n\t\t},\n\t\t\"email\": \"{{ $json.email }}\",\n\t\t\"phone_number\": \"+{{ $json.phone_number }}\",\n\t\t\"first_name\": \"{{ $json[\"First Name\"] }}\"\n\t  }\n\t}\n  }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9c29a7d0-9422-4dae-96f3-dc1262776359",
      "name": "Criar Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        740,
        680
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $json.TOKEN }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"data\": {\n\t  \"type\": \"profile\",\n\t  \"attributes\": {\n\t\t\"properties\": {\n\t\t\"Numero do pedido\": \"{{ $node[\"Set2\"].json[\"Numero do pedido\"] }}\",\n\"Total pago\": \"{{ $node[\"Set2\"].json[\"Total pago\"] }}\",\n\"UTM Source\": \"{{$node[\"Set2\"].json[\"UTM Source\"] }}\",\n\"UTM Campaign\": \"{{$node[\"Set2\"].json[\"UTM Campaign\"] }}\",\n\"UTM Medium\": \"{{$node[\"Set2\"].json[\"UTM Medium\"] }}\"    \t\n\t\t},\n\t\t\"email\": \"{{ $json.email }}\",\n\t\t\"phone_number\": \"+{{ $json.phone_number }}\",\n\t\t\"first_name\": \"{{ $json[\"First Name\"] }}\"\n\t  }\n\t}\n  }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "1aeb66c1-35e7-4aed-94ab-8231c74f10c1",
      "name": "Criar Contato1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        760,
        1300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set1').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"type\": \"profile-subscription-bulk-create-job\",\n        \"attributes\": {\n            \"profiles\": {\n                \"data\": [\n                    {\n                        \"type\": \"profile\",\n                        \"id\": \"{{ $json.body.data.id }}\",\n                        \"attributes\": {\n                            \"email\": \"{{ $json.body.data.attributes.email }}\",\n                            \"phone_number\": \"{{ $json.body.data.attributes.phone_number }}\",\n                            \"subscriptions\": {\n                                \"email\": {\n                                    \"marketing\": {\n                                        \"consent\": \"SUBSCRIBED\"\n                                    }\n                                }\n                            }\n                        }\n                    }\n                ]\n            }\n        },\n        \"relationships\": {\n            \"list\": {\n                \"data\": {\n                    \"type\": \"list\",\n                    \"id\": \"{{ $('Set1').item.json['List ID'] }}\"\n                }\n            }\n        }\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "72ffc5c9-27d4-4622-b1a8-776000c933ad",
      "name": "Colocar na Lista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        160
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"type\": \"profile-subscription-bulk-create-job\",\n        \"attributes\": {\n            \"profiles\": {\n                \"data\": [\n                    {\n                        \"type\": \"profile\",\n                        \"id\": \"{{ $json.body.data.id }}\",\n                        \"attributes\": {\n                            \"email\": \"{{ $json.body.data.attributes.email }}\",\n                            \"phone_number\": \"{{ $json.body.data.attributes.phone_number }}\",\n                            \"subscriptions\": {\n                                \"email\": {\n                                    \"marketing\": {\n                                        \"consent\": \"SUBSCRIBED\"\n                                    }\n                                }\n                            }\n                        }\n                    }\n                ]\n            }\n        },\n        \"relationships\": {\n            \"list\": {\n                \"data\": {\n                    \"type\": \"list\",\n                    \"id\": \"{{ $('Set').item.json['List ID'] }}\"\n                }\n            }\n        }\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "72365f2f-77cd-4972-b617-57e94341ac51",
      "name": "Colocar na Lista1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        940,
        680
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set2').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"type\": \"profile-subscription-bulk-create-job\",\n        \"attributes\": {\n            \"profiles\": {\n                \"data\": [\n                    {\n                        \"type\": \"profile\",\n                        \"id\": \"{{ $json.body.data.id }}\",\n                        \"attributes\": {\n                            \"email\": \"{{ $json.body.data.attributes.email }}\",\n                            \"phone_number\": \"{{ $json.body.data.attributes.phone_number }}\",\n                            \"subscriptions\": {\n                                \"email\": {\n                                    \"marketing\": {\n                                        \"consent\": \"SUBSCRIBED\"\n                                    }\n                                }\n                            }\n                        }\n                    }\n                ]\n            }\n        },\n        \"relationships\": {\n            \"list\": {\n                \"data\": {\n                    \"type\": \"list\",\n                    \"id\": \"{{ $('Set2').item.json['List ID'] }}\"\n                }\n            }\n        }\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "f688a9c1-ad9f-49e7-bb13-b70afbaafeba",
      "name": "Colocar na Lista2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        960,
        1300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set2').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "content-type",
              "value": "=application/json "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"ProductID\": \"{{ $node[\"Set2\"].json[\"Numero do pedido\"] }}\"\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Pedido Pago\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $node[\"Set2\"].json[\"email\"] }}\"\n          }\n        }\n      },\n      \"value\": \"{{ $node[\"Set2\"].json[\"Total pago\"] }}\",\n      \"value_currency\": \"BRL\",\n      \"time\": \"{{ $node[\"Switch\"].json[\"created_at\"] }}\"\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "ca96e84e-89a5-4bde-a332-1b6d7acdf81a",
      "name": "Evento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1140,
        1300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "content-type",
              "value": "=application/json "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"ProductID\": \"{{ $node[\"Set\"].json[\"Numero do pedido\"] }}\"\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Boleto Gerado\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $node[\"Set\"].json[\"email\"] }}\"\n          }\n        }\n      },\n      \"value\": \"{{ $node[\"Switch\"].json[\"total\"] }}\",\n      \"value_currency\": \"BRL\",\n      \"time\": \"{{ $node[\"Switch\"].json[\"created_at\"] }}\"\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "88cbde70-1fff-40f9-8234-c790a5690f77",
      "name": "Evento1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        680
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set1').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "content-type",
              "value": "=application/json "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"ProductID\": \"{{ $node[\"Set1\"].json[\"Numero do pedido\"] }}\"\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Pix Gerado\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $node[\"Set1\"].json[\"email\"] }}\"\n          }\n        }\n      },\n      \"value\": \"{{ $node[\"Switch\"].json[\"total\"] }}\",\n      \"value_currency\": \"BRL\",\n      \"time\": \"{{ $node[\"Switch\"].json[\"created_at\"] }}\"\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "f573cddd-bc53-480c-ae1b-b93a407a0007",
      "name": "Evento2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1140,
        160
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "guji68a2WMFO1TGt"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-11-15T21:24:54.561Z",
      "updatedAt": "2024-11-15T21:24:54.561Z",
      "id": "MB3EUpHs6Gf1Hxl8",
      "name": "Klaviyo"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-11-27T18:40:33.000Z",
  "versionId": "d1a72de1-b0b0-4645-8c92-6732c208afcf"
}