peixotojeff/n8n-rep/2025/02/Hq7IwkTmFsUiQmw3.json
{
  "active": true,
  "connections": {
    "Split In Batches": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Criar Contato3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contato3": {
      "main": [
        [
          {
            "node": "Colocar na Lista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar na Lista": {
      "main": [
        [
          {
            "node": "Criar Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Nuvem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuvem": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Evento": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-07T03:32:44.404Z",
  "id": "Hq7IwkTmFsUiQmw3",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DOISEFF- NUVEM - KLAVIYO (Carrinho Abandonado) teste copy",
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "780b31bd-a256-4d06-a5f9-333dc6772495",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -80,
        540
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "6f094ef5-c3a4-44a4-8ee8-33a8798d1438",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -760,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "email",
              "value": "={{ $json.contact_email }}"
            },
            {
              "name": "List ID",
              "value": "TE3nmw"
            },
            {
              "name": "phone_number",
              "value": "={{ $json.shipping_phone }}"
            },
            {
              "name": "source",
              "value": "n8n"
            },
            {
              "name": "First Name",
              "value": "={{ $json.contact_name }}"
            },
            {
              "name": "TOKEN",
              "value": "pk_4a456728a552d294ad8292eefae3fb157d"
            },
            {
              "name": "abandoned_checkout_url",
              "value": "=https:/doiseff.com.br/checkout/v3/next/{{ $json.id }}/{{ $json[\"token\"] }}"
            },
            {
              "name": "Data",
              "value": "={{ $json.created_at }}"
            },
            {
              "name": "Total",
              "value": "={{ $json.total}}"
            },
            {
              "name": "Imagem",
              "value": "={{ $json.products[0].image.src}}"
            },
            {
              "name": "Produto",
              "value": "={{ $json.products[0].name_without_variants }}"
            }
          ]
        },
        "options": {}
      },
      "id": "55345e4a-0052-4b7d-98a8-41d6b9b83fa4",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.abandoned_checkout_url }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "bcd2cad8-2e68-40a1-a378-963132744d6d",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        540
      ]
    },
    {
      "parameters": {
        "url": "https://api.nuvemshop.com.br/v1/5580703/checkouts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "per_page",
              "value": "10"
            },
            {
              "name": "fields",
              "value": "contact_name,contact_email,shipping_phone,id,token,abandoned_checkout_url,created_at,total,products"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authentication",
              "value": "bearer b713da35e56a61c1c5e1e0494acb3ca80ffa657c"
            },
            {
              "name": "User-Agent",
              "value": "Your App Name (15828)"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "757ea02b-a8d7-4810-acac-2dfaa2825216",
      "name": "Nuvem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -320,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-import",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $json.TOKEN }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"data\": {\n\t  \"type\": \"profile\",\n\t  \"attributes\": {\n\t\t\"properties\": {\n\t\t  \"URL Carrinho Abandonado\": \"{{$('Set3').item.json[\"abandoned_checkout_url\"]}}\"\n\t\t},\n\t\t\"email\": \"{{ $('Set3').item.json['email']}}\",\n\t\t\"phone_number\": \"+{{ $('Set3').item.json[\"phone_number\"] }}\",\n\t\t\"first_name\": \"{{$('Set3').item.json[\"First Name\"] }}\"\n\t  }\n\t}\n  }",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "70244fac-e1a4-48c4-b058-0f09e0857eed",
      "name": "Criar Contato3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/profile-subscription-bulk-create-jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set3').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {\n        \"type\": \"profile-subscription-bulk-create-job\",\n        \"attributes\": {\n            \"profiles\": {\n                \"data\": [\n                    {\n                        \"type\": \"profile\",\n                        \"id\": \"{{ $json.body.data.id }}\",\n                        \"attributes\": {\n                            \"email\": \"{{ $json.body.data.attributes.email }}\",\n                            \"phone_number\": \"{{ $json.body.data.attributes.phone_number }}\",\n                            \"subscriptions\": {\n                                \"email\": {\n                                    \"marketing\": {\n                                        \"consent\": \"SUBSCRIBED\"\n                                    }\n                                }\n                            }\n                        }\n                    }\n                ]\n            }\n        },\n        \"relationships\": {\n            \"list\": {\n                \"data\": {\n                    \"type\": \"list\",\n                    \"id\": \"{{ $('Set3').item.json['List ID'] }}\"\n                }\n            }\n        }\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "f4c5d2ba-459d-48f9-964d-72c460486db8",
      "name": "Colocar na Lista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        840,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timestamp }}",
        "format": "yyyy/MM/dd",
        "options": {}
      },
      "id": "4c997316-64f0-4f02-8ae0-7400f187b687",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -540,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Klaviyo-API-Key {{ $('Set3').item.json[\"TOKEN\"] }}"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "revision",
              "value": "2024-10-15"
            },
            {
              "name": "content-type",
              "value": "=application/json "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"event\",\n    \"attributes\": {\n      \"properties\": {\n        \"abandoned_checkout_url\": \"{{ $('Set3').item.json['abandoned_checkout_url'] }}\",\n         \"Nome\": \"{{ $('Set3').item.json['First Name'] }}\",\n         \"Imagem\": \"{{ $('Set3').item.json['Imagem'] }}\",\n         \"Produto\": \"{{ $('Set3').item.json['Produto'] }}\"\n      },\n      \"metric\": {\n        \"data\": {\n          \"type\": \"metric\",\n          \"attributes\": {\n            \"name\": \"Carrinho Abandonado\"\n          }\n        }\n      },\n      \"profile\": {\n        \"data\": {\n          \"type\": \"profile\",\n          \"attributes\": {\n            \"email\": \"{{ $('Criar Contato3').item.json.body.data.attributes.email }}\"\n          }\n        }\n      },\n      \"value\": \"{{ $('Set3').item.json.Total }}\",\n      \"value_currency\": \"BRL\",\n      \"time\": \"{{ $('Set3').item.json.Data }}\"\n    }\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "2942b030-a5f8-4844-9a5f-f76fc64e96a9",
      "name": "Criar Evento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        980,
        540
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-rep",
  "repo_owner": "peixotojeff",
  "repo_path": "peixotojeff/n8n-rep/",
  "settings": {
    "executionOrder": "v0",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-02-07T03:20:51.976Z",
      "updatedAt": "2025-02-07T03:20:51.976Z",
      "id": "9RCQzOxrumcQbzDY",
      "name": "DOISEFF"
    },
    {
      "createdAt": "2024-11-15T21:24:54.561Z",
      "updatedAt": "2024-11-15T21:24:54.561Z",
      "id": "MB3EUpHs6Gf1Hxl8",
      "name": "Klaviyo"
    },
    {
      "createdAt": "2024-11-15T21:24:54.572Z",
      "updatedAt": "2024-11-15T21:24:54.572Z",
      "id": "bd9wkOJP5S5TNQ5C",
      "name": "Shopify"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-02-08T09:40:02.000Z",
  "versionId": "d00f38a5-6647-4fdf-942a-0ed0ed23f67c"
}